@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply antialiased text-text bg-gray-50;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}